<ul class="list-group list-group-flush" id="taskList">

    <li class="list-group-item" id="task">
        <span id="taskText">Example Task 1</span>
        <span class="float-end">
            <button class="btn btn-outline-primary btn-sm editButton"><i class="fas fa-edit"></i>
                <button class="btn btn-outline-danger btn-sm deleteButton"><i class="fas fa-trash-alt"></i></button>
        </span>
        <input type="text" class="form-control edit-task editTextInput">
    </li>

    <li class="list-group-item" id="task">
        <span id="taskText">Example Task 2</span>
        <span class="float-end">
            <button class="btn btn-outline-primary btn-sm editButton"><i class="fas fa-edit"></i>
                <button class="btn btn-outline-danger btn-sm deleteButton"><i class="fas fa-trash-alt"></i></button>
        </span>
        <input type="text" class="form-control edit-task editTextInput">
    </li>
</ul>